<h2>Compre Créditos</h2>

<% form_tag :controller => 'credits', :action => 'buy' do %>
  
  <!--[form:buy]-->
  <p><label>Creditos</label><br/>
  <%= text_field_tag 'credits'  %></p>
  <!--[eoform:buy]-->

  <%= submit_tag "Comprar" %>
<% end %>
