<%= error_messages_for 'music' %>

<!--[form:music]-->
<p><label for="music_name">Name</label><br/>
<%= text_field 'music', 'name'  %></p>

<p><label for="music_composer_name">Composer name</label><br/>
<%= text_field 'music', 'composer_name'  %></p>

<p><label for="music_lyrics">Lyrics</label><br/>
<%= text_area 'music', 'lyrics'  %></p>

<p><label for="music_soundfile">Soundfile</label><br/>
<%= text_field 'music', 'soundfile'  %></p>
<!--[eoform:music]-->

