<%= error_messages_for 'user' %>

<!--[form:user]-->
<p><label for="user_name">Name</label><br/>
<%= text_field 'user', 'name'  %></p>

<p><label for="user_passwd">Password</label><br/>
<%= password_field 'user', 'passwd'  %></p>

<p><label for="user_email">Email</label><br/>
<%= text_field 'user', 'email'  %></p>

<p><label for="user_cpf">Cpf</label><br/>
<%= text_field 'user', 'cpf'  %></p>
<!--[eoform:user]-->

