<ul><li><%= link_to 'Controle de Usuários', :controller => 'admin_users' %></li></ul>
<ul><li><%= link_to 'Controle de Artistas', :controller => 'admin_artists' %></li></ul>
<ul><li><%= link_to 'Controle de Músicas', :controller => 'admin_musics' %></li></ul>